.menu {
  display: flex;
  height: 110px;
  justify-content: center;
  box-shadow: 0px 6px 10px -4px rgba(0, 0, 0, 0.75);
  align-items: center;
}

.menu label {
  font-size: 26px;
  color: #a2a2a2;
}

.wtf {
  overflow: hidden;
  display: flex !important;
  align-items: center !important;
}

.reservation-form {
  padding-bottom: 20px;
}

.res-form {
  padding: 20px;
  padding-bottom: 0;
  display: flex;
  flex-wrap: wrap;
}

.left-side {
  width: 50%;
}

.right-side {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

mat-form-field {
  width: 95%;
}

.tables {
  margin: 20px;
  margin-top: 0;
  padding: 10px;
  background: #022539;
  border-radius: 20px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.row-tables {
  display: flex;
  width: 100%;
  justify-content: space-around;
  margin-top: 10px;
  margin-bottom: 10px;
}

.table-content:hover .place {
  background: white;
}

.res-btn {
  display: flex;
  justify-content: center;
}

.res-btn button {
  background: #eaab4c;
  padding: 10px;
  color: white;
  border: 0;
  border-radius: 10px;
  outline: none;
}

.res-btn button:hover {
  background: #da9d43;
}

app-tables {
  position: relative;
}

app-tables.selected .table-content .place {
  background: white;
}

.list-title {
  background: #eaab4c;
  color: white;
  padding: 10px;
  border-radius: 5px;
}

.list-title:hover {
  opacity: 0.8;
}

.list-title .material-icons {
  margin: auto;
  font-size: 20px;
  padding-left: 5px;
  position: relative;
  top: 4px;
}

.list {
  display: flex;
  padding: 10px;
  padding-top: 15px;
  justify-content: center;
}

.reservation {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  box-shadow: 0px 2px 6px -1px #eaab4c;
}

.res-info {
  display: flex;
  align-items: center;
}

@media (min-width: 900px) {
  .reservation label {
    margin: 2px;
  }

  .reservation button {
    margin: 2px;
  }

  .side-info {
    display: flex;
  }

  .top-side {
    display: flex;
  }

  .bottom-side {
    display: flex;
  }
}

@media (max-width: 900px) {
  .res-info {
    flex-direction: column;
  }

  .side-info {
    flex-direction: column;
    min-width: 150px;
  }

  .resEndBtn {
    align-items: center;
    display: flex;
  }

  .resEndBtn button {
    margin: 2px;
  }
}

.message-btn {
  position: absolute;
  right: 40px;
  border: 0;
  background: transparent;
  outline: none;
}

.message-btn:hover .material-icons {
  color: green;
}
