<div class="restaurant-content">
    <div class="menu">
        <label>Restaurant Reservation System</label>
        <button
            class="message-btn"
            (click)="changeShow()"
        >
            <i class="material-icons">forum</i>
        </button>
    </div>
    <mat-tab-group>
        <mat-tab label="Reservation">
            <div class="reservation-form">
                <form
                    [formGroup]="reservationForm"
                    (ngSubmit)="onSubmit()"
                >
                    <div class="res-form">
                        <div class="left-side">
                            <mat-form-field
                                appearance="outline"
                                class="left"
                            >
                                <mat-label>Full Name</mat-label>
                                <input
                                    matInput
                                    placeholder="Placeholder"
                                    formControlName="name"
                                >
                                <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                            </mat-form-field>
                            <mat-form-field
                                appearance="outline"
                                class="left"
                            >
                                <mat-label>Phone Number</mat-label>
                                <input
                                    matInput
                                    type="number"
                                    placeholder="Placeholder"
                                    formControlName="phone"
                                >
                                <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                            </mat-form-field>
                        </div>
                        <div class="right-side">
                            <mat-form-field
                                appearance="outline"
                                class="right"
                            >
                                <input
                                    matInput
                                    [matDatepicker]="picker"
                                    placeholder="Choose a Date"
                                    formControlName="date"
                                    [min]="minDate"
                                    (dateChange)="changeDate()"
                                >
                                <mat-datepicker-toggle
                                    matSuffix
                                    [for]="picker"
                                ></mat-datepicker-toggle>
                                <mat-datepicker
                                    #picker
                                    startView="year"
                                ></mat-datepicker>
                            </mat-form-field>
                            <mat-form-field
                                appearance="outline"
                                class="right"
                            >
                                <mat-label>Choose a Time</mat-label>
                                <mat-select
                                    name="time"
                                    formControlName="time"
                                >
                                    <mat-option
                                        (onSelectionChange)="test(time.time)"
                                        *ngFor="let time of times"
                                        [value]="time.time"
                                    >
                                        {{time.time}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="tables">
                        <app-tables
                            *ngFor="let tab of resTablesData?.data"
                            [sumPlaces]='tab.places'
                            [status]="tab.state"
                            [table]="tab"
                            (click)="pressTab(tab)"
                            [class.selected]="tab.isSelected"
                        ></app-tables>
                    </div>
                    <div class="res-btn">
                        <button
                            class="button"
                            type="submit"
                        >
                            Reserved
                        </button>
                    </div>
                    <label *ngIf="!valid">Not Valid</label>
                </form>
            </div>
        </mat-tab>
        <mat-tab label="Admin">
            <div class="list">
                <div
                    class="list-title"
                    (click)="RefreshBookings()"
                >
                    <label>List of All Reservations</label>
                    <i class="material-icons">refresh</i>
                </div>
            </div>
            <div
                class="reservation"
                *ngFor="let book of allBookings?.data"
            >
                <div class="res-info">
                    <div class="side-info">
                        <div class="top-side">
                            <label class="res-info__name">{{ book.name }}</label>
                        </div>
                        <div class="bottom-side">
                            <label class="res-info__phone">tel: {{ book.phoneNo }}</label>
                        </div>
                    </div>
                    <div class="side-info">
                        <div class="top-side">
                            <label class="res-info__table--name">{{ book.table.name }}</label>
                        </div>
                        <div class="bottom-side">
                            <label class="res-info__table--name">{{ book.from | date:'short'  }}</label>
                        </div>
                    </div>
                </div>
                <div class="resEndBtn">
                    <button
                        mat-flat-button
                        color="primary"
                        (click)="closeReservation(book)"
                        [disabled]="book.isClosedManually"
                    >
                        Close
                    </button>
                    <button
                        mat-flat-button
                        color="warn"
                        (click)="deleteReservation(book)"
                    >
                        Delete
                    </button>
                </div>
            </div>
        </mat-tab>
    </mat-tab-group>
    <app-chat-dialog
        [show]="show"
        (hide)="changeShow()"
    ></app-chat-dialog>
</div>
