<div
    class="mask"
    *ngIf="status === 'BOOKED'"
>
    <i class="material-icons">lock</i>
</div>
<div class="table-content">
    <div class="row-place">
        <div
            class="place"
            *ngFor="let place of lodash.range(sumPlaces/2)"
        ></div>
    </div>
    <div class="table-name">
        <div class="table-name__content">
            <label>{{ table.name }}</label>
        </div>
    </div>
    <div class="row-place">
        <div
            class="place"
            *ngFor="let place of lodash.range(sumPlaces/2)"
        ></div>
    </div>
</div>
