/* You can add global styles to this file, and also import other style files */
body {
  margin: 0;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.mat-tab-group.mat-primary .mat-ink-bar,
.mat-tab-nav-bar.mat-primary .mat-ink-bar {
  background-color: #eaab4c;
}

.mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
  color: #eaab4c;
}

.mat-form-field.mat-focused .mat-form-field-label {
  color: black;
}
